<a href="https://colab.research.google.com/github/dsreliete/Womakerscode_DA_colab_desafio_individual/blob/main/Desafio2IndividualElietedaSilvaRodrigues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext sql

In [2]:
%%sql
sqlite:///desafio.db

In [3]:
import sqlite3

In [4]:
conexao = sqlite3.connect('desafio.db')
cursor = conexao.cursor()

In [5]:
# 1. Crie uma tabela chamada "alunos" com os seguintes campos: id (inteiro), nome (texto), idade (inteiro) e curso (texto).

cursor.execute('CREATE TABLE alunos(id INT, nome VARCHAR(100), idade INT, curso VARCHAR(200));')

In [ ]:
# 2. Insira pelo menos 5 registros de alunos na tabela que você criou no exercício anterior.

In [ ]:
# 3. Consultas Básicas
# Escreva consultas SQL para realizar as seguintes tarefas:
# a) Selecionar todos os registros da tabela "alunos".

In [ ]:
# b) Selecionar o nome e a idade dos alunos com mais de 20 anos.

In [ ]:
# c) Selecionar os alunos do curso de "Engenharia" em ordem alfabética.

In [ ]:
# d) Contar o número total de alunos na tabela

In [ ]:
# 4. Atualização e Remoção
# a) Atualize a idade de um aluno específico na tabela.

In [ ]:
# b) Remova um aluno pelo seu ID.

In [ ]:
# 5. Criar uma Tabela e Inserir Dados
# Crie uma tabela chamada "clientes" com os campos: id (chave primária), nome (texto), idade (inteiro) e saldo (float).

In [ ]:
# Insira alguns registros de clientes na tabela.

In [ ]:
# 6. Consultas e Funções Agregadas
# Escreva consultas SQL para realizar as seguintes tarefas:
# a) Selecione o nome e a idade dos clientes com idade superior a 30 anos.

In [ ]:
# b) Calcule o saldo médio dos clientes.

In [ ]:
# c) Encontre o cliente com o saldo máximo.

In [ ]:
# d) Conte quantos clientes têm saldo acima de 1000.

In [ ]:
# 7. Atualização e Remoção com Condições
# a) Atualize o saldo de um cliente específico.

In [ ]:
# b) Remova um cliente pelo seu ID.

In [ ]:
# 8. Junção de Tabelas
# Crie uma segunda tabela chamada "compras" com os campos: id (chave primária), cliente_id (chave estrangeira referenciando o id da tabela "clientes"), produto (texto) e valor (real). Insira algumas compras associadas a clientes existentes na tabela "clientes". Escreva uma consulta para exibir o nome do cliente, o produto e o valor de cada compra.

In [ ]:
conexao.commit()
conexao.close()